$def-color-fw: #fc6744
// default color first word
$def-color-t: #626262
.navbar-toggle span
	background-color: #706b73
.header
	background: #f5f5f5
.navbar-brand > img
	display:block
.siteName 
	margin-top: 140px
	text-align: center
	color: $def-color-t
	span
		color: $def-color-fw
.siteAbout
	text-align: center
	margin: 25px 0 105px
	font: 400 16px Tahoma
	color: $def-color-t
.callBackHeader
	margin-bottom: -10px
	background-color: #fff
	box-shadow: 0px 9px 23px -1px rgba(0,0,0,0.17)	
	h3
		text-align: center
		margin-bottom: 40px
		color: #211a18
		font: 400px 20px Tahoma
		span
			color: $def-color-fw
	input
		outline: 0
		border: 0
		border-bottom: 1px solid #c7c7c7
		margin-bottom: 20px
		font: 400 15px Tahoma
		padding: 5px 0
	textarea
		outline: 0
		border: 0
		border-bottom: 1px solid #c7c7c7
		margin-bottom: 20px;
		height: 90px
		resize: none
		font: 400 15px Tahoma
		padding: 5px 0
	input[type="submit"]
		background-color: #ff5c36
		color: #fff
		font: 400 16px Tahoma
		padding: 20px 0
		border-radius: 40px
.workProcess
	padding-bottom: 175px
	h1
		margin-top: 135px
		text-align: center
		span
			color: $def-color-fw
	h5
		margin-bottom: 95px
		text-align: center
		color: #414141	
		font: 400 16px Tahoma
	.cardProcessWorkRow 
		display: flex
		justify-content: space-around
	.cardWorkProcess
		display: flex
	.cardWorkProcess > div
		padding-bottom: 50px
	.cardWorkProcess > div  .iconWorkProcess
		margin: 50px auto 25px
	.cardWorkProcess > div  h2
		text-align: center
		font: 400 20px Tahoma
		color: #fff
	.cardWorkProcess > div .text
		text-align: center
		font: 400 15px Tahoma
		color: #fff
		width: 90%
	.cardWorkProcess > div  button
		width: 85%
		background-color: #fff	
		border: 0
		font: 400 14px Tahoma
		padding: 20px 0
		border-radius: 40px
		position: absolute
		bottom: - 25px
		box-shadow: 0px 9px 23px -1px rgba(0,0,0,0.17)	
	.cardWorkProcess > div > div
		width: 100%
		display: flex
		justify-content: space-around
	.workProcessCard1
		background-color: #4eb2f7
	.workProcessCard2
		background-color: #c049f8
	.workProcessCard3
		background-color: #817eff
	.workProcessCard4
		background-color: #4eb2f7
.footer
	background-color: #f7f7f7
	.keyCallBack
		font: 400 16px Tahoma
		border: 1px solid #eaeaea
		background-color: #fdfdfd
		padding-top: 20px 
		padding-bottom: 20px 
		border-radius: 40px
		width: 240px
		margin: 50px auto
		display: block
		transition-duration: 0.5s
	.keyCallBack:hover
		box-shadow: 0px 3px 23px -1px rgba(0,0,0,0.17)
	.socLink
		height: 50px
		width: 50px
		border-radius: 100%
		display: flex
		align-items: center
		justify-content: space-around
		background-color: #d3d3d3
		cursor: pointer
		transition-duration: 0.5s
	.socLink:hover
		box-shadow: 0px 0px 20px -1px rgba(0,0,0,0.17)
		background-color: #ff6e47
	.socLinksRow
		display: flex
		justify-content: space-around
	.copyright
		width: 100%
		display: flex
		align-items: center
	.socAndCopyRow 
		display: flex
		align-items: center
		color: #040404
		font: 400 17px Tahoma